@charset "utf-8";

#header {
	height: 60px;
	width: 100%;
}

#headerInner {
	width: 900px;
	margin: 0 auto;
}

#headerInner h1 {
	height: 20px;
	font-size: 1px;
	color: #029acc;
}
#headerInner #logo {
	float: left;
}
